{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "ie 10"
                    ]
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-class-properties"
    ]
}
